

html {
  box-sizing: border-box;
}

nav {
  display: flex;
  text-align: center;
}

.cart-icon {
  font-size: 3em;
  color: #00E571;
  margin: auto;
}

.logo {
  color: #0C18B3;
  margin-left: 10px;
  // width: 100px;
  // height: 50px;
}

.horizontal {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: inherit;
}

.whoami-user-name {
  font-weight: bold;
  color: white;
  margin: 0;
}

.whoami {
  display: flex;
}

.vertical {
  display: block;
}

.logout {
  margin: 10px 10px;
}

#app {
}

#nav {
  // padding: 0;
  // margin: 0;
}

#views {
  background-color: white;
  height: 52em;
}

#footer {
  background-color: grey;
  height: 9em;
}

#search {
  width: 50%;
  margin: 20px auto 10px auto;
  input {
    width: 500px;
  }
}

#login {
  margin: 20px auto 10px auto;
}

#cart {
  width: 50px;
  margin: 20px auto 10px auto;
  // margin-left: 75px;
}

#user {
  font-size: 2em;
  margin: 0 10px 0 10px;
  color: #FFC420;
}
