html {
  box-sizing: border-box; }

nav {
  display: flex; }

.logo {
  width: 200px;
  height: 100px; }

.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inherit; }

#nav {
  height: 10em; }

#views {
  background-color: red;
  height: 52em; }

#footer {
  background-color: yellow;
  height: 9em; }

#search {
  width: 50%;
  margin: 0 auto; }
  #search input {
    width: 500px; }

#login {
  position: absolute;
  top: 0px;
  right: 200px; }

#cart {
  position: absolute;
  top: 0px;
  right: 0px; }
