$main-color: #6394F8;
$light-text: #ABB0BE;

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

html {
  box-sizing: border-box;
}

nav {
  display: flex;
  text-align: center;
}

.cart-icon {
  font-size: 3em;
  color: #00E571;
  margin: auto;
}

.logo {
  color: #0C18B3;
  margin-left: 10px;
  // width: 100px;
  // height: 50px;
}

.horizontal {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: inherit;
}

.whoami-user-name {
  font-weight: bold;
  color: white;
  margin: 0;
}

.whoami {
  display: flex;
}

.vertical {
  display: block;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

.login {
  margin: 20px 0;
  float: right;
  background: blue;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  display: flex;
}


.logout {
  margin: 10px 10px;
  color: red;
}

#app {
}

#nav {
  // padding: 0;
  // margin: 0;
}

#views {
  height: 52em;
  position: relative;
}

#footer {
  height: 9em;
}

#search {
  width: 50%;
  margin: 20px auto 10px auto;
  input {
    width: 500px;
  }
}

#login {
  margin: 20px auto 10px auto;
}

#cart {
  width: 50px;
  margin: 20px auto 10px auto;
  // margin-left: 75px;
}

#user {
  font-size: 2em;
  margin: 0 10px 0 10px;
  color: #FFC420;
}

#allProducts.ul {

}

#footer {
}

#orderHistoryPrice {
  color: red;
}

#orderHistoryQuantity {
  color: gray;
}

#reviewForm {
  margin: 0 auto;
  width: 400px;
}

.singleOrder {
  display: block;
}

.orderHistoryItems {
  display: inline;
  margin-right: 2em;
  font-size: 1.5em;
}


.shopping-cart {
  margin: 10px 0;
  float: right;
  background: white;
  width: 430px;
  position: relative;
  border-radius: 3px;
  padding: 20px;



  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;

    .shopping-cart-total {
      float: right;
    }
  }

  .shopping-cart-items {

    padding-top: 20px;

      li {
        margin-bottom: 18px;
      }

    img {
      float: left;
      margin-right: 12px;
    }

    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }

    .item-price {
      color: $main-color ;
      margin-right: 8px;
    }

    .item-quantity {
      color: $light-text;
    }

    .item-total {
      float:right;
    }
  }

}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: $main-color;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;

  &:hover {
    background: lighten($main-color, 3%);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.checkout-line-item-sec {
  display: inline;
  margin-right: 2em;
}

.checkout-line-item {
  display: inline;
  margin-bottom: 1em;
}

.checkout-form-input {
  width: 25px;
}
.orderHistoryItemName {
  border-width: 100px;
  box-sizing: border-box;
}

.sidebar {
  color: grey;
}

.filter-button {
  width: 100px;
}

.errorText {
  color: red;
}

.singleReview {
  font-size: 14pt;
  margin-bottom: 20px;
  width: 700px;
}

.reviewFirstItem {
  display: inline;
  font-weight: bold;
}

.reviewFirstLine {
  display: inline;
  margin-left: 2em;
}

.productReviews {
  display: inline;
}

.product-section {
  width: 200px;
  height: 350px;
  margin-bottom: 20px;

.addressRow {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 16pt;
}

.accountInfo {
  font-size: 16pt;
  font-weight: bold;
  display: inline;
}

.accountDetails {
  width: 400px;
  margin: 0 auto;
}
