<<<<<<< HEAD
=======
html {
  box-sizing: border-box; }

nav {
  display: flex;
  text-align: center; }

.cart-icon {
  font-size: 3em;
  color: #00E571;
  margin: auto; }

.logo {
  color: #0C18B3;
  margin-left: 10px; }

.horizontal {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: inherit; }

.whoami-user-name {
  font-weight: bold;
  color: white;
  margin: 0; }

.whoami {
  display: flex; }

.vertical {
  display: block; }

.logout {
  margin: 10px 10px; }

#views {
  height: 52em; }

#footer {
  height: 9em; }

#search {
  width: 50%;
  margin: 20px auto 10px auto; }
  #search input {
    width: 500px; }

#login {
  margin: 20px auto 10px auto; }

#cart {
  width: 50px;
  margin: 20px auto 10px auto; }

#user {
  font-size: 2em;
  margin: 0 10px 0 10px;
  color: #FFC420; }
>>>>>>> master
